<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlF1Bs9dWyTGAfW73luw1K1axuz1aRmfs</string>
	<key>GCM_SENDER_ID</key>
	<string>89586181977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RecipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-f9d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-f9d9c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89586181977:ios:9006c9a2d2ded06f9c0e48</string>
</dict>
</plist>